
<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Filtrar por Tema e Local"
        [(ngModel)]="filtroLista"
        >
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block" >Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-striped text-center table-hover">
    <thead class="thead-dark">
      <tr >
        <th class="d-none d-md-table-cell" scope="col">
          <button type="button" class="btn btn-outline-light btn-sm" 
          (click)="isCollapsed = !isCollapsed">
          <i class="{{isCollapsed ? 'fa fa-eye':'fa fa-eye-slash'}}"></i>
          {{isCollapsed ? "Exibir":"Ocultar"}}
        </button>  
      </th>
      <th scope="col">#</th>
      <th scope="col">Tema</th>
      <th class="d-none d-md-table-cell" scope="col">Local</th>
      <th scope="col">Data</th>
      <th class="d-none d-md-table-cell" scope="col">Qtd Pessoas</th>
      <th class="d-none d-md-table-cell" scope="col">Lote</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados" (click)="detalheEvento(evento.id)" style="cursor: pointer;">
      <td class="d-none d-md-table-cell">
        <img class="img-fluid img-thumbnail" [collapse]="isCollapsed" 
        [isAnimated]="true" src="/assets/{{evento.imagemURL}}" 
        alt="Foto do Evento" width="150px">
      </td>
      <th scope="row">{{evento.id}}</th>
      <td>{{evento.tema}}</td>
      <td class="d-none d-md-table-cell">{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormartPipe}}</td>
      <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
      <td class="d-none d-md-table-cell">{{evento.lotes[0].nome | uppercase}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-danger btn-lg" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf ="eventosFiltrados == null">
    <tr>
      <td colspan="8">
        <h4> Nenhum Evento Encontrado </h4>
      </td>
    </tr>
  </tfoot>
</table>

</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
